@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;700&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

/*ArFonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200;400;600&display=swap');

@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: 400;
  src: local('Lemon/Milk'), url('https://fonts.cdnfonts.com/s/14917/LemonMilk.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: italic;
  font-weight: 400;
  src: local('Lemon/Milk'), url('https://fonts.cdnfonts.com/s/14917/LemonMilkitalic.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: italic;
  font-weight: 300;
  src: local('Lemon/Milk'), url('https://fonts.cdnfonts.com/s/14917/LemonMilklightitalic.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: 700;
  src: local('Lemon/Milk'), url('https://fonts.cdnfonts.com/s/14917/LemonMilkbold.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: italic;
  font-weight: 700;
  src: local('Lemon/Milk'), url('https://fonts.cdnfonts.com/s/14917/LemonMilkbolditalic.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk light';
  font-style: normal;
  font-weight: 300;
  src: local('Lemon/Milk light'), url('https://fonts.cdnfonts.com/s/14917/LemonMilklight.woff') format('woff');
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--Bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, li, button{
  font-family: 'Lemon/Milk light', sans-serif;
}
span{
  font-family: var(--font-secondary);
  font-weight:  900;
}



/*Colors*/
:root {
  --yellow : #f9b908;
  --Red :#DC052D;
  --White : #f5f0ec;
  --black-color: #1f1c1c;
  --grey  :#717171;
  --Bg :#f8f8f8;
  

  /*FontsVars*/
  --font-primary :"Lemon/Milk light", sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-tertiary: "D-DIN Condensed", sans-serif;

  --Arabic : 'Noto Kufi Arabic', sans-serif;
}

/*Swiper Arrows Custom*/

.swiper-button-next,
.swiper-button-prev {
    color: var(--grey) !important;
}

/* #c8102e */